# ===== Google Sheets =====
GSPREAD_SHEET_ID = "1XKFW2RJIezS-0_MqWr3c8vr-E6VqqByaQvmNDT6Mw14"

# Service Account JSON (pega el JSON COMPLETO aquí)
# En Streamlit Cloud esto va en Secrets, NO como archivo.
GCP_SERVICE_ACCOUNT_JSON = """{
  "type": "service_account",
  "project_id": "...",
  "private_key_id": "...",
  "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
  "client_email": "...",
  "client_id": "...",
  "token_uri": "https://oauth2.googleapis.com/token"
}"""

# ===== OpenAI =====
OPENAI_API_KEY = "TU_API_KEY"
OPENAI_MODEL = "gpt-4.1-mini"   # o el que uses
